$icons-font: "icons";

@font-face {
  font-family: $icons-font;
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: url("./icons.woff2") format("woff2"), url("./icons.woff") format("woff");
}

/* Brand fonts */
@font-face {
  font-family: "Nebulica-Regular";
  src: url("../assets/fonts/Nebulica-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now";
  src: url("../assets/fonts/HelveticaNow.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
