.link {
  color: inherit;

  text-underline-offset: 2px;
  text-decoration-thickness: 2px;

  &:hover {
    color: inherit;

    &:global(.GroupCallLink) {
      text-decoration: none;
    }
  }
}

.isPrimary {
  color: var(--color-links);

  &:hover {
    color: var(--color-links);
  }
}